section.iphone-content {
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

p.price-iphone {
    font-size: 14px;
    line-height: 1.42859;
    font-weight: 400;
    letter-spacing: -0.016em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h3.name-iphone {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

button.button {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -0.01em;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    min-width: 23px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgb(0 113 227);
    color: white;
    border-radius: 30px;
    border: 0px;
    margin-bottom: 10px;
}

.content-iphone-home {
    padding: 72px;
    text-align: center;
}

img.image-iphone {
    height: 192px;
}